# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Grafana
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

# Glitchtip
GLITCHTIP_SECRET_KEY=
GLITCHTIP_DOMAIN=

# Shared — используются в FastAPI-сервисах
DATABASE_URL=
VALKEY_URL=
KAFKA_BOOTSTRAP_SERVERS=
